<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset=utf-8>
        <title>{% block title %}Presence analyzer{% endblock %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content=""/>
        <meta name="author" content="STX Next sp. z o.o."/>
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <link href="{{ url_for('static', filename='css/normalize.css') }}" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/main.css') }}" media="all" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>

            <ul>
                {%- for item in main_menu -%}
                    <li{% if item.is_active() %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.name }}</a></li>
                {%- endfor -%}
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
